.start_page{
  margin-top: 8%;
  text-align: center;
  /*border: 1px solid red;
*/  
}

.link_class{
  font-size: 20px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(16, 16, 155);}

.container{
  height: 100%;
  background-image: url("wealth_management_service.jpg");
}